* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: transparent;
  font-family: fantasy;
  font-size: 25px;
}

.searchbar-color {
  background-color: rgba(255, 0, 0, 0.5);
}

.searchbar-header {
  display: flex;
  align-self: center;
  flex: 2;
  justify-content: center;
  
}

.logo-header {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page-icon {
  height: 30px;
  width: 30px;
  object-fit: cover;
}

.icon-title {
  display: flex;
  align-self: center;
  padding: 5px;
  font-family: fantasy;
  font-size: 30px;
  color: white;
}

.nav-header {
  display: flex;
  align-self: center;
  flex: 2;
  justify-content: stretch;
}

nav {
  display: block;
}

nav ul {
  align-items: center;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100px;
  max-width: 1500px;
  width: 100%;
  background-color: transparent;
}
nav ul li {
  opacity: 100%;
}

nav ul li:hover {
  opacity: 70%;
}

nav ul li a {
  flex-grow: 1;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  box-shadow: 3px 3px 5px transparent;
  padding: 20px;
}

.hero-section-images {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-around;
}

.leftimg {
  position: relative;
  opacity: 100%;
  width: 33.33%;
  margin: 5px;
}

.middleimg {
  position: relative;
  opacity: 100%;
  width: 33.33%;
  margin: 5px;
}

.rightimg {
  position: relative;
  opacity: 100%;
  width: 33.33%;
  margin: 5px;
}
.column {
  flex: 33.33%;
  padding: 0px;
  object-fit: cover;
}
.column img {
  object-fit: cover;
  width: 100%;
  min-height: 450px;
}
.row {
  display: flex;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20%;
  height: 150px;
}

.btn {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 50px;
  color: white;
  background-color: rgb(82, 82, 235);
  border-radius: 30px;

}

.text-uppercase {
  font-family: monospace;
  font-size: large;
  text-transform: uppercase;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1%;
  align-items: center;
}

.card {
  width: 300px;
  border: 1px solid transparent;
  border-radius: 8px;
  margin: 10px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: fit-content;
  border-radius: 8px;
}

.card-content {
  padding: 10px;
}

.main-footer {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(82, 82, 235);
    height: 80px;
    bottom: 0;
    width: 100%;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

@media screen and (max-width: 1024px) {
  .column {
    width: 100%;
  }
}
